<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389574323327-33ggc1m067u3t06itou2hkaojnl3db52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389574323327-33ggc1m067u3t06itou2hkaojnl3db52</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>389574323327-90bhmmvn5p1j0ub3rmgtmkj4912b42vv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHGyeAu4Bl3SvZJeiwYzX0f9c1llB2lKI</string>
	<key>GCM_SENDER_ID</key>
	<string>389574323327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lask</string>
	<key>PROJECT_ID</key>
	<string>lask-177aa</string>
	<key>STORAGE_BUCKET</key>
	<string>lask-177aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389574323327:ios:61529050e530afb8e9a34a</string>
</dict>
</plist>